name: Integration tests

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request: {}

env:
  OPENSEARCH_PLUGINS_DIRECTORY: /tmp/opensearch-plugins

jobs:
  integration-opensearch:
    name: Integration OpenSearch
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.11.1
          - 2.10.0
          - 2.8.0
          - 2.6.0
          - 2.4.1
          - 2.2.1
          - 2.0.1
          - 1.3.14
          - 1.2.4
          - 1.1.0

    steps:
      - name: Checkout Client
        uses: actions/checkout@v3
        with:
          path: client

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            5.0.x
            6.0.x

      - uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.?sproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - run: "./build.sh integrate ${{ matrix.version }} readonly,replicatedreadonly,writable random:test_only_one --report"
        name: Integration Tests
        working-directory: client

      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: report-${{ matrix.version }}
          path: client/build/output/*

  integration-opensearch-unreleased:
    name: Integration OpenSearch Unreleased
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        opensearch_ref:
          - '1.x'
          - '2.x'
          - 'main'

    steps:
      - name: Checkout Client
        uses: actions/checkout@v3
        with:
          path: client

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            5.0.x
            6.0.x

      - uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.?sproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore or Build OpenSearch
        id: opensearch
        uses: ./client/.github/actions/build-opensearch
        with:
          ref: ${{ matrix.opensearch_ref }}
          security_plugin: ${{ matrix.opensearch_ref == '1.x' }}
          knn_plugin: true
          plugins_output_directory: ${{ env.OPENSEARCH_PLUGINS_DIRECTORY }}

      - run: "./build.sh integrate $OPENSEARCH_VERSION readonly,replicatedreadonly,writable random:test_only_one --report"
        name: Integration Tests
        working-directory: client
        env:
          OPENSEARCH_VERSION: ${{ steps.opensearch.outputs.version }}
          OPENSEARCH_DISTRIBUTION: ${{ steps.opensearch.outputs.distribution }}

      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: report-unreleased-${{ matrix.opensearch_ref }}
          path: client/build/output/*
