name: Tests

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - '.editorconfig'
  push:
    paths-ignore:
      - 'README.md'
      - '.editorconfig'
    branches:
      - main
      - master
      - '[0-9]+.[0-9]+'
      - '[0-9]+.x'
      - 'dev-*'

jobs:
  unit-tests:
    name: Unit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            5.0.x
            6.0.x
            8.0.x
      - uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.?sproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - run: ./build.sh test --report
        name: Test
      - name: Test Results
        if: always()
        uses: mikepenz/action-junit-report@v3
        with:
          report_paths: 'build/output/junit-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_on_failure: true
          require_tests: true
          check_name: Unit Test Results
      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: unit-test-report
          path: build/output/*


  # Packages nuget packages first and then uses the nuget packages to test
  # Also builds versioned nuget packages
  canary-tests:
    name: Canary
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            5.0.x
            6.0.x
            8.0.x
      - uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.?sproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - run: ./build.sh canary --report
        name: Test
      - name: Test Results
        if: always()
        uses: mikepenz/action-junit-report@v3
        with:
          report_paths: 'build/output/junit-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_on_failure: true
          require_tests: true
          check_name: Canary Test Results
      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: canary-test-report
          path: build/output/*
